#heart{border:2px solid #000;
 padding:12px;
 display:flex;
 width:100px;
 align-items:center;
 }
		i{
			padding-right:10px;
			}
		#red{
			color:red;
			}
		.hide{
			display:none;
			}
		
		#share,#detail,#save{
			width:200px;
			height:300px;
			}
		#share{
			position:relative;
			overflow:hidden; 
			border:2px solid #000;
			}
		#detail{
			position:absolute;
			top:100%;
			background-color:#eee;
			}
		#icon i{
			
			margin:20px;
			font-size:30px;
			}
		#detail ul{
			position:relative;
			padding:10px;
			}
		#detail p{position:absolute;
		top:0px;
		right:5px;
		}
		
		#save{border:2px solid #000;
		position:relative;
		}
		#view-img{
			width:100%;
			}
		#save-img i{padding-left:80%;
		font-size:20px;
		}
		#profile-img{width:40px;
		height:40px;
		position:absolute;
		bottom:10px;
		right:10px;
		border-radius:50%;
		}
		#saved{width:60px;
		height:80px;
		position:absolute;
		bottom:50px;
		right:0px;
		overflow:hidden;
		border-bottom-right-radius:50%;
		border-bottom-left-radius:50%;
		}
		.saved-img{width:0%;
		position:relative;
		top:110%;
		animation-name:anime;
		animation-duration:1s;
		}
		@keyframes anime {
			0%{top:0;width:100%;}
			100%{bottom:220px;width:100%;}
			}
		#s-btn{position:relative;
		z-index:1;
		}
		#black{position:absolute;
		top:o;
		left:0;
		z-index:-5;
		opacity:0;
		}
		.move{
			animation-name:move;
			animation-duration:2s;
			}
		@keyframes move {
			0%{opacity:1;}
			100%{opacity:0;}
			}